.productCardComp a {
  text-decoration: none;
}

.productCardComp {
  display: flex;
  width: 100%;
}

.productCardComp__img {
  width: 40%;
}

.productCardComp__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 0.5rem;
}

.productCardComp__name {
  margin-top: 0.5rem;
}

.productCardComp__location {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.price {
  margin-top: 0.75rem;
}
