.addProductPage {
  .productAddBanner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100000;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .imgPicker {
    border: 2px dashed grey;
    border-radius: 6px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .mapTopContainer {
    border: 1px solid rgb(216, 206, 206);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 6px;
    padding: 18.5px;
    color: rgb(136, 129, 129);
  }

  .imgPicker__preview {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
  }

  .imgPicker:hover {
    border-color: #6200ee;
  }

  .productInps {
    display: flex;
    flex-direction: column;
  }

  .productInps > div {
    margin-top: 1.5rem;
  }

  .addProdBtn {
    width: 100%;
  }
}
