.buyProduct_Content{
    display:flex;
    flex-direction: column;
    padding:18.5px;
}

.productCard__img{
    height:200px;
    width:100%;
    margin-top: 1em;
    border-radius: 15px;
}

.price_and_stock{
    margin-top: 1em;
}

.slider_label{
    margin-top: 2em;
}
.cart_and_buy{
    margin-top:1em;
}

.button_buy_product{
    width:100%;
    
}